{% extends "smallstack/base.html" %}
{% load static theme_tags %}

{% block title %}Starter Page{% endblock %}

{% block extra_css %}
{% include "smallstack/pages/starter_css.html" %}
{% endblock %}

{% block breadcrumbs %}
{% breadcrumb "Home" "website:home" %}
{% breadcrumb "Starter Page" %}
{% render_breadcrumbs %}
{% endblock %}

{% block content %}
{% include "smallstack/pages/starter_content.html" %}
{% endblock %}

{% block extra_js %}
{% include "smallstack/pages/starter_js.html" %}
{% endblock %}
